.btn{
    color: snow;
    width: 40px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: 490px;
    display: none;
}
.btn img{
    width: 40px;
    height: 40px;
}
.btn span{
    display: none;
    margin-left: 5px;

}
.btn:hover{
    background-color:rgb(185,185,185);
}