
body {
    background: #f1f1f1;
}

.u_bar{
    background-color: #222222;
}

.u_bar_body{
    width: 980px;
    height: 70px;
    margin: 0 auto;
}

 .u_bar_body_logo{
    width: 200px;
    height: 70px;
    overflow: hidden;
    float: left;

    margin-right: 10px;

}
 .u_bar_body_logo a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

 .u_bar_body_nav{
     float: left;
     height: 70px;

 }

 .u_bar_body_nav li{
     height: 70px;
     float: left;
 }

 .u_bar_body_nav li *{
     font-size: 16px;
     line-height: 20px;
     color: cornsilk;
     display: inline-block;
 }

 .u_bar_body_nav li a{
     height: 22px;
     line-height: 22px;
     padding:24px 24px;
 }


.u_bar_body_nav li a:hover{
    background: #333;
}


a {
    text-decoration: none;
    color: lightslategray;
}

.coursecontent{
    width: 1000px;
    height: 1350px;
    margin: 0 auto;
}

.coursecontent .lessonlist{
    width: 792px;
    padding: 50px 0 50px 0;
    float: right;
    border-left: 10px solid #99CCFF;
}



.learn-lessonlist{
    margin-bottom: 20px;
    position: relative;
}

.stageicon{
    position: absolute;
    left: -20px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: block;
    border: 5px solid #99CCFF;
    background: #f1f1f1;
}

.stagebox{
    position: absolute;
    left: -200px;
    top: 0;
    width: 125px;
    height: 80px;
    padding: 10px;
    background: snow;
    border:2px solid #6699CC;
}

.textcontent p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 800;
}
.jiantou{
    background-color: #f1f1f1;
    position: absolute;
    top:-2px;
    right:-26px;
    display: block;
    width: 0;
    height: 0;
    border-width: 8px 12px;
    border-style: solid;
    border-color: #6699CC #f1f1f1 #f1f1f1 #6699CC;
}

.lessonbox{
    float: left;
    margin-left: 30px;
    margin-bottom: 15px;
    width: 230px;
    height: 250px;
    overflow: hidden;
    background: #fff;
    position: relative;
    cursor: pointer;
    border:2px solid #6699CC;
}

.mask-box{
    position: absolute;
    width: 230px;
    height: 250px;
    background-color: rgba(23,133,133,0.4);
    transform: rotate(90deg);
    transform-origin: right bottom;
    transition: transform 0.9s;
}

.lessonbox:hover .mask-box{
    transform: rotate(0deg);
}

.lessonbox-img{
    overflow:  hidden;
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}

.lessonbox-img img{
    display: block;
    width: 100%;
    height: 180px;

}

.lessonbox-footer{
    float: right;
    margin-top: 18px;
}

.book{
    width: 980px;
    margin: 0px auto;
    background-color: #99CCFF;
    height: 450px;
}
.book h2{
    padding: 20px;
}
ul{
    list-style: none;

}
.book-list{
    float: left;
    width:200px ;
    height: 400px;
//background: springgreen;
    margin: 10px 20px;
    position: relative;
}
.book-img{
    border:2px solid #6699CC;
    width: 198px;
    height: 250px;
}
.book-list .book-mask{
    margin-top: 15px;
    width: 100%;
}
.book-list .book-mask h4{
    text-align: center;
}

.website{
    width: 980px;
    height: 330px;
    background: #99CCFF;
    margin: 0 auto;
}
.website h2{
    padding: 20px;
}
.website .website-list{
    float: left;
    background: palevioletred;
    width: 200px;
    height: 80px;
    margin: 20px 20px;
    position: relative;
    transition: transform 0.3s linear;
    box-shadow: 0 0 5px #999;
    border:2px solid #6699CC;
}
.website .website-list:hover{
    transform: scale(1.2) rotate(360deg);
}
.website .website-list img{
    width: 100%;
    height: 100%;
}


